footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 315px;
    background: $preto;
    padding: 45px 0 55px 0;
    z-index: 2;

    +below($tablet) {
        padding: 40px 0;
        height: 250px;
    }

    +mobile() {
        padding: 30px 0;
        height: 470px;
    }

    .center {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        +mobile() {
            flex-direction: column;
            align-items: center;
        }

        article.evento {
            width: auto;
            height: 100%;
            margin: 0 45px 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;

            +below($tablet) {
                margin: 0 40px 0 0;
            }

            +mobile() {
                height: auto;
                margin: 0 0 30px 0;
                align-items: center;
            }

            .link-home {
                width: auto;
                height: 100%;
                display: flex;
                align-items: flex-start;
                margin: 0;

                +mobile() {
                    height: 40px;
                }

                .img-logo {
                    filter: invert(1);
                    width: 270px;
                    height: auto;
                    object-fit: contain;

                    +below($tablet) {
                        width: 220px;
                    }
                }
            }
        }

        article.nav-footer {
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .link-footer {
                raleway(14);
                color: $branco;
                text-transform: uppercase;
                margin: 0 0 15px 0;
                line-height: 1;

                +below($tablet) {
                    font-size: 12px;
                    margin: 0 0 10px 0;
                }

                &:hover, &.active {
                    font-weight: 600;
                }
            }
        }

        article.informacoes {
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 60px 0 auto;

            +below($tablet) {
                margin: 0 0 0 auto;
            }

            +mobile() {
                align-items: center;
                margin: 20px 0 0 0;
            }

            .img-nucleo {
                width: auto;
                height: auto;
                object-fit: contain;

                +below($tablet) {
                    width: 110px;
                }
            }

            .realizacao {
                margin: 30px 0;

                +below($tablet) {
                    margin: 20px 0;
                }

                .titulo {
                    raleway(10);
                    color: $branco;
                    line-height: 1.5;
                    margin: 0;

                    +below($tablet) {
                        font-size: 9px;
                    }

                    +mobile() {
                        text-align: center;
                    }
                }

                .nome, .link-realizacao, .link-whatsapp {
                    display: block;
                    raleway(14);
                    color: $branco;
                    line-height: 1.5;
                    margin: 0;

                    +below($tablet) {
                        font-size: 12px;
                    }

                    +mobile() {
                        text-align: center;
                    }
                }

                .nome {
                    text-transform: uppercase;
                }

                .link-realizacao, .link-whatsapp {
                    &:hover {
                        font-weight: 600;
                    }
                }
            }

            .direitos {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin: auto 0 0 0;

                +mobile() {
                    align-items: center;
                }

                .link-politica {
                    display: block;
                    raleway(10);
                    color: $branco;
                    text-decoration: underline;
                    line-height: 1.5;
                    margin: 0;

                    +below($tablet) {
                        font-size: 9px;
                    }

                    &:hover, &.active {
                        font-weight: 600;
                    }
                }

                .copyright {
                    display: block;
                    raleway(10);
                    color: $branco;
                    text-transform: uppercase;
                    line-height: 1.3;
                    margin: 0;

                    +below($tablet) {
                        font-size: 9px;
                    }
                }

                .trupe {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .link-trupe {
                        raleway(10);
                        color: $branco;
                        line-height: 1.3;
                        margin: 0;

                        +below($tablet) {
                            font-size: 9px;
                        }

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}