header {
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc('(100% - 1200px) / 2');

    +below($tablet) {
        padding: 0 5%;
    }

    .link-home {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 30px 0 0;

        .img-logo {
            width: 184px;
            height: auto;
            object-fit: contain;
        }

        +below($tablet) {
            margin: 0;
        }
    }

    nav {
        width: auto;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        +below($tablet) {
            position: absolute;
            display: none;
            background-color: $branco;
            width: 100%;
            height: auto;
            top: 90px;
            left: 0;
            padding: 10px 5% 20px 5%;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            z-index: 99;
        }

        +mobile() {
            padding-right: 7%;
        }

        .link-nav {
            raleway(14);
            color: $preto;
            margin: 0 30px;
            padding: 0;
            transition: all 0.2s ease-in-out;

            +below($tablet) {
                margin: 5px 0;
            }

            &:hover, &.active {
                font-weight: 600;
            }
        }

        .links-modal {
            width: auto;
            height: 100%;
            margin: 0 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                margin: 10px 0;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
            }

            .link-busca {
                width: auto;
                height: auto;
                margin: 0 12px 0 0;

                +below($tablet) {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin: 0 0 10px 0;
                }

                .busca-mobile {
                    raleway(12);
                    color: $preto;
                    text-transform: uppercase;
                    margin: 0 10px 0 0;
                }

                .img-lupa {
                    width: auto;
                    height: 16px;
                    object-fit: contain;
                    transition: transform 0.3s ease-in-out;
                }

                &:hover, &.active {
                    .img-lupa {
                        transform: rotate(360deg) scale(1.1);
                    }
                }
            }

            #btnModalLogin {
                width: auto;
                height: auto;
                border: none;
                outline: none;
                background-color: transparent;
                padding: 0;
                cursor: pointer;

                +below($tablet) {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin: 0 0 5px 0;
                }

                .login-mobile {
                    raleway(12);
                    color: $preto;
                    text-transform: uppercase;
                    margin: 0 10px 0 0;
                }

                .img-login {
                    width: auto;
                    height: 16px;
                    object-fit: contain;
                    transition: transform 0.3s ease-in-out;
                }

                &:hover, &.active {
                    .img-login {
                        transform: rotate(360deg) scale(1.1);
                    }
                }
            }

            .link-logado {
                raleway(10);
                color: $preto;
                text-transform: uppercase;
                margin: 0 5px 0 0;

                .img-seta {
                    margin-left: 5px;
                }
            }

            .submenu-logado {
                position: absolute;
                top: 55px;
                width: auto;
                height: auto;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                padding: 10px 20px;
                background-color: $branco;
                border: 1px solid $cinza;
                z-index: 999;

                +mobile() {
                    top: 85px;
                    left: 5%;
                }

                .logado-logout, .logado-restrita {
                    raleway(10);
                    color: $preto;
                    margin: 5px 0;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        font-weight: 600;
                    }
                }
            }
        }

        .idiomas {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0 0 0 30px;

            +below($tablet) {
                margin: 0;
            }

            .link-idioma {
                raleway(10);
                color: $preto;
                border-left: 1px solid $preto;
                padding: 0 5px;
                transition: all 0.2s ease-in-out;

                &:first-child {
                    border: none;
                }

                &:hover, &.active {
                    font-weight: 600;
                }
            }
        }
    }
}

#mobile-toggle {
    +above($tablet) {
        display: none;
    }

    display: block;
    background-color: transparent;
    border: 0;
    position: relative;
    height: 100%;
    width: 28px;
    outline: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 0 0 auto;

    +mobile() {
        margin-right: 2%;
    }

    .lines {
        display: block;
        width: 100%;
        height: 4px;
        background-color: $preto;
        position: relative;
        transition: 0.3s ease;
        border-radius: 3px;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $preto;
            transition: 0.3s ease;
            border-radius: 3px;
        }

        &:before {
            top: 7px;
        }

        &:after {
            top: -7px;
        }
    }

    &.close {
        .lines {
            display: block;
            background: transparent;

            &:before, &:after {
                transform-origin: 50% 50%;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }

        .lines-home {
            background: transparent;

            &:before, &:after {
                transform-origin: 50% 50%;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}

.busca-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

// MODAL LOGIN
.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    flex-direction: column;
    align-items: center;
    z-index: 999 !important;
    ouline: none;

    +below($tablet) {
        z-index: 100;
    }

    .btn-close {
        position: relative;
        width: 900px;
        outline: none;
        border: none;
        background-color: transparent;
        raleway(32);
        font-weight: 200;
        color: $branco;
        text-align: end;
        top: 70px;
        padding: 0;
        cursor: pointer;
        transition: all 0.1s ease;

        +mobile() {
            width: 80% !important;
            top: 50px;
        }

        &:hover, &:focus {
            color: $preto;
        }
    }

    .modal-dialog {
        width: 900px;
        height: auto;
        margin: 70px auto;
        background-color: $branco;
        overflow-y: hidden;

        +mobile() {
            margin: 50px auto;
            width: 80% !important;
            overflow-y: auto !important;
        }

        .modal-content {
            width: 100%;
            height: 100%;
            padding: 50px;
            border: none;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;

            +mobile() {
                padding: 30px 10px;
            }

            h4.modal-titulo {
                raleway(24, light);
                color: $preto;
                margin: 0 0 50px 0;
                text-align: center;

                +mobile() {
                    font-size: 20px;
                    margin: 0 0 30px 0;
                }
            }

            form {
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;

                +mobile() {
                    width: 90%;
                }

                label {
                    raleway(12);
                    color: $preto;
                    margin-bottom: 5px;
                }

                input[type=text], input[type=email], input[type=password] {
                    width: 100%;
                    height: 40px;
                    border: 1px solid $cinza;
                    border-radius: 10px;
                    outline: none;
                    padding: 0 15px;
                    margin: 0 0 25px 0;
                    transition: all 0.1s ease;

                    +mobile() {
                        height: 30px;
                        border-radius: 7px;
                        margin: 0 0 20px 0;
                    }

                    +placeholder() {
                        raleway(18);
                        color: $preto;
                        background-color: $branco;

                        +mobile() {
                            font-size: 14px;
                        }
                    }

                    &:hover, &:focus {
                        border: 2px solid $cinza;
                    }
                }

                #btnProsseguir, #btnProsseguirCadastro, #btnProsseguirEsqSenha {
                    width: 300px;
                    height: 60px;
                    raleway(16, bold);
                    color: $branco;
                    background-color: $preto;
                    border: 1px solid $preto;
                    border-radius: 10px;
                    outline: none;
                    cursor: pointer;
                    transition: all 0.3s ease-in;

                    +mobile() {
                        width: 200px;
                        height: 40px;
                        font-size: 14px;
                        margin-bottom: 20px;
                    }

                    &:hover, &:focus {
                        background-color: $cinza;
                        border: 1px solid $cinza;
                    }
                }
            }

            #btnEsqueciMinhaSenha {
                border: none;
                outline: none;
                background-color: transparent;
                raleway(12);
                color: $preto;
                margin: 15px 0 50px 0;
                cursor: pointer;
                transition: all 0.1s ease-in;

                +mobile() {
                    margin: 0 0 30px 0;
                }

                &:hover, &:focus {
                    color: $cinza;
                    font-weight: 700;
                }
            }

            .criar-cadastro {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                +mobile() {
                    flex-direction: column;
                }

                h4.modal-cadastro {
                    raleway(24, light);
                    color: $preto;
                    margin: 0 30px 0 0;

                    +mobile() {
                        font-size: 20px;
                        text-align: center;
                        margin: 0 0 10px 0 !important;
                    }
                }

                #btnCadastrar {
                    width: 240px;
                    height: 60px;
                    raleway(16, bold);
                    color: $branco;
                    background-color: $cinza;
                    border: 1px solid $cinza;
                    border-radius: 10px;
                    outline: none;
                    cursor: pointer;
                    transition: all 0.3s ease-in;

                    +mobile() {
                        width: 200px;
                        height: 40px;
                        font-size: 14px;
                    }

                    &:hover, &:focus {
                        background-color: $preto;
                        border: 1px solid $preto;
                    }
                }
            }
        }
    }

    .modal-dialog-cadastro {
        width: 900px;
        height: auto;
    }
}