html, body {
    height: 100%;
    font-family: 'Raleway', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    main {
        width: 100%;
        height: auto;
        min-height: calc('100% - 315px');
        position: relative;

        +below($tablet) {
            min-height: calc('100% - 250px');
        }

        +mobile() {
            min-height: calc('100% - 470px');
        }
    }
}

.modal-compartilhar {
    top: 0;
    left: 0;

    .modal-dialog {
        width: 900px;
        height: auto;

        #myModalLabel {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                margin-left: 20px;
            }
        }

        ul.compartilhamento {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0;

            a {
                text-align: center;
                margin: 0 25px;

                img {
                    width: auto;
                    height: 30px;
                    object-fit: contain;
                    transition: transform 0.2s ease-in-out;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}