desktop-base-width = 1200px;
rupture.desktop-cutoff = $tablet = 1200px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;

$vermelho = #E02227;
$verde = #2caf2c;
$preto = #000;
$branco = #FFF;
$cinza = #9E9C96;
$bg = #E9EDED;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Raleway:wght@100;300;400;500;700&display=swap');

raleway($size, $weight = normal) {
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == light) {
        font-weight: 300;
    }

    if ($weight == medium) {
        font-weight: 500;
    }

    if ($weight == bold) {
        font-weight: 700;
    }
}
