.painel-login {
    background: linear-gradient(90deg, #185a9d 10%, #43cea2 120%);

    .login {
        padding: 30px;
        background: #fff;
        border-radius: 5px;
        margin: 100px auto 0;
        float: none;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

        +below(768px) {
            margin-top: 30px;
        }
    }

    .input-group {
        margin-bottom: 5px;
    }

    h3 {
        margin: 0 0 30px;

        small {
            display: block;
            margin-top: 10px;
        }
    }
}

td {
    vertical-align: middle !important;
}

.cke {
    border: 2px solid #dce4ec !important;
    border-radius: 4px;
    transition: border 0.3s !important;
}

.cke_editable {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 15px !important;
}

.cke_focus {
    border-color: #2c3e50 !important;
}

.multiselect {
    text-align: left !important;
}

.navbar {
    font-size: 14px !important;

    .navbar-brand {
        font-size: 17px !important;
    }

    .dropdown-menu {
        font-size: 14px !important;
    }
}

.equipe-img-pb {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.alerta-quantidade {
    font-size: 16px;
    font-style: italic;
    color: red;
}

.imgs-tabelas {
    width: 100%;
    max-width: 50px;
    height: 50px;
    margin: 0px 2px 2px 0px;
    object-fit: cover;
}

.processo {
    .titulo {
        font-size: 20px;
        font-weight: 600;
    }

    .paragrafo {
        font-size: 16px;
    }

    .processo-img {
        width: auto;
    }
}
