main.agenda {
    background-color: $bg;
    padding: 20px 0 0 0;
    z-index: 1;

    .agenda-titulo {
        raleway(24, light);
        color: $preto;
        text-align: center;
        margin: 0;

        +below($tablet) {
            font-size: 20px;
        }

        +mobile() {
            font-size: 18px;
        }
    }
}

.agenda-completa {
    .agenda-geral {
        width: 100%;
        height: auto;
        padding-top: 40px;

        .center {
            display: flex;
            flex-direction: column;
            align-items: center;

            .dia-evento {
                raleway(20);
                color: $preto;
                text-transform: uppercase;
                margin: 25px 0 0 0;

                +below($tablet) {
                    margin: 15px 0 0 0;
                    font-size: 18px;
                }

                +mobile() {
                    font-size: 16px;
                }
            }

            .palestras {
                width: 100%;
                height: auto;
                margin: 25px auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                +below($tablet) {
                    margin: 20px auto;
                }

                .fio-vertical {
                    border-left: 2px solid #C1C3C3;
                    position: absolute;
                    z-index: 1;
                    height: 100%;
                }

                .palestra-right {
                    position: relative;
                    width: 50%;
                    margin-left: 50%;
                    margin-bottom: 70px;
                    z-index: 2;

                    +mobile() {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                        margin-bottom: 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .horario {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin: 30px 0 0 -40px;
                        padding: 0;
                        width: 90px;
                        height: 90px;
                        raleway(36);
                        color: $preto;

                        +below($tablet) {
                            margin-top: 20px;
                            font-size: 28px;
                        }

                        +mobile() {
                            margin: 20px 0 0 0;
                            font-size: 24px;
                            width: auto;
                            height: 70px;
                        }

                        p.tipo-hora {
                            raleway(10);
                            color: $preto;
                            margin: 0;
                            width: 70%;
                            text-align: center;

                            +mobile() {
                                font-size: 9px;
                            }
                        }
                    }

                    .dados {
                        margin: -60px 0 30px 80px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        +mobile() {
                            margin: 20px 0 0 0;
                            align-items: center;
                        }

                        .tipo {
                            raleway(16);
                            color: $preto;
                            text-transform: uppercase;
                            margin: 0;

                            +below($tablet) {
                                font-size: 14px;
                            }

                            +mobile() {
                                font-size: 12px;
                                text-align: center;
                            }
                        }

                        .titulo {
                            raleway(20, medium);
                            color: $preto;
                            margin: 0;

                            +below($tablet) {
                                font-size: 18px;
                            }

                            +mobile() {
                                font-size: 16px;
                                text-align: center;
                            }
                        }

                        .nome {
                            raleway(18);
                            color: $cinza;
                            margin: 0;

                            +below($tablet) {
                                font-size: 16px;
                            }

                            +mobile() {
                                font-size: 14px;
                                text-align: center;
                            }
                        }

                        .descricao {
                            raleway(14);
                            color: $preto;
                            margin: 3px 0 25px 0;

                            +below($tablet) {
                                margin: 3px 0 20px 0;
                                font-size: 12px;
                            }

                            +mobile() {
                                font-size: 11px;
                                text-align: center;
                            }

                            p {
                                margin: 0;
                                line-height: 1.3;
                            }
                        }

                        .link, .id-reuniao, .senha-acesso {
                            raleway(12);
                            color: $preto;
                            margin: 0;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            +below($tablet) {
                                font-size: 11px;
                            }

                            +mobile() {
                                text-align: center;
                            }

                            .setinha {
                                width: 22px;
                                height: auto;
                                margin: 0 0 0 5px;
                                transition: transform 0.2s ease-in-out;

                                +below($tablet) {
                                    width: 18px;
                                }

                                +mobile() {
                                    width: 14px;
                                }
                            }

                            &:hover {
                                strong {
                                    text-decoration: underline;
                                }

                                .setinha {
                                    transform: rotate(360deg);
                                }
                            }
                        }

                        .link {
                            font-size: 14px;

                            +below($tablet) {
                                font-size: 12px;
                            }
                        }

                        .texto-link {
                            raleway(12);
                            color: $preto;
                            margin: 5px 0 0 0;

                            +below($tablet) {
                                font-size: 10px;
                            }

                            > p {
                                margin: 0;
                                line-height: 1.3;
                            }
                        }
                    }

                    .img-agenda {
                        width: 260px;
                        height: 260px;
                        margin: 0 0 0 -40px;
                        border-radius: 10px;

                        +below($tablet) {
                            width: 220px;
                            height: 220px;
                        }

                        +mobile() {
                            width: 180px;
                            height: 180px;
                            margin: 20px 0 0 0;
                        }
                    }
                }

                .palestra-left {
                    position: relative;
                    width: 50%;
                    margin-right: 50%;
                    margin-bottom: 70px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    z-index: 2;

                    +mobile() {
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                        margin-bottom: 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .horario {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin: 0 -40px 0 0;
                        padding: 0;
                        width: 90px;
                        height: 90px;
                        raleway(36);
                        color: $preto;

                        +below($tablet) {
                            margin-top: 20px;
                            font-size: 28px;
                        }

                        +mobile() {
                            margin: 20px 0 0 0;
                            font-size: 24px;
                            width: auto;
                            height: 70px;
                        }

                        p.tipo-hora {
                            raleway(10);
                            color: $preto;
                            margin: 0;
                            width: 70%;
                            text-align: center;

                            +mobile() {
                                font-size: 9px;
                            }
                        }
                    }

                    .dados {
                        margin: -60px 80px 30px 0;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;

                        +mobile() {
                            margin: 20px 0 0 0;
                            align-items: center;
                        }

                        .tipo {
                            raleway(16);
                            color: $preto;
                            text-transform: uppercase;
                            text-align: end;
                            margin: 0;

                            +below($tablet) {
                                font-size: 14px;
                            }

                            +mobile() {
                                font-size: 12px;
                                text-align: center;
                            }
                        }

                        .titulo {
                            raleway(20, medium);
                            color: $preto;
                            text-align: end;
                            margin: 0;

                            +below($tablet) {
                                font-size: 18px;
                            }

                            +mobile() {
                                font-size: 16px;
                                text-align: center;
                            }
                        }

                        .nome {
                            raleway(18);
                            color: $cinza;
                            text-align: end;
                            margin: 0;

                            +below($tablet) {
                                font-size: 16px;
                            }

                            +mobile() {
                                font-size: 14px;
                                text-align: center;
                            }
                        }

                        .descricao {
                            raleway(14);
                            color: $preto;
                            text-align: end;
                            margin: 3px 0 25px 0;

                            +below($tablet) {
                                margin: 3px 0 20px 0;
                                font-size: 12px;
                            }

                            +mobile() {
                                font-size: 11px;
                                text-align: center;
                            }

                            p {
                                margin: 0;
                                line-height: 1.3;

                                +mobile() {
                                    line-height: 1.6;
                                    margin-top: 10px;
                                }
                            }
                        }

                        .link, .id-reuniao, .senha-acesso {
                            raleway(12);
                            color: $preto;
                            text-align: end;
                            margin: 0;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            +below($tablet) {
                                font-size: 11px;
                            }

                            +mobile() {
                                text-align: center;
                            }

                            .setinha {
                                width: 22px;
                                height: auto;
                                margin: 0 0 0 5px;
                                transition: transform 0.2s ease-in-out;

                                +below($tablet) {
                                    width: 18px;
                                }

                                +mobile() {
                                    width: 14px;
                                }
                            }

                            &:hover {
                                strong {
                                    text-decoration: underline;
                                }

                                .setinha {
                                    transform: rotate(360deg);
                                }
                            }
                        }

                        .link {
                            font-size: 14px;

                            +below($tablet) {
                                font-size: 12px;
                            }
                        }

                        .texto-link {
                            raleway(12);
                            color: $preto;
                            margin: 5px 0 0 0;

                            +below($tablet) {
                                font-size: 10px;
                            }

                            > p {
                                margin: 0;
                                line-height: 1.3;
                            }
                        }
                    }

                    .img-agenda {
                        width: 260px;
                        height: 260px;
                        border-radius: 10px;
                        margin: 0 -40px 0 0;

                        +below($tablet) {
                            width: 220px;
                            height: 220px;
                        }

                        +mobile() {
                            width: 180px;
                            height: 180px;
                            margin: 20px 0 0 0;
                        }
                    }
                }
            }
        }

        &.agenda-gray {
            background-color: #E9EDED;

            .palestras {
                .palestra-right, .palestra-left {
                    .horario {
                        background-color: #E9EDED;
                    }

                    .dados {
                        .tipo, .titulo, .nome, .descricao, .link, .id-reuniao, .senha-acesso, .texto-link {
                            +mobile() {
                                background-color: #E9EDED;
                            }
                        }
                    }
                }
            }
        }

        &.agenda-white {
            background-color: #FFF;

            .palestras {
                .palestra-right, .palestra-left {
                    .horario {
                        background-color: #FFF;
                    }

                    .dados {
                        .tipo, .titulo, .nome, .descricao, .link, .id-reuniao, .senha-acesso, .texto-link {
                            +mobile() {
                                background-color: #FFF;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn-agenda-mais {
    display: block;
    margin: 25px auto 70px auto;
    width: 140px;
    height: 25px;
    border: 1px solid $preto;
    border-radius: 5px;
    raleway(12);
    color: $preto;
    background-color: #E9EDED;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    +mobile() {
        width: 100px;
        height: 20px;
        font-size: 11px;
        margin-bottom: 50px;
    }

    &:hover {
        background-color: $preto;
        color: #FFF;
    }
}

section.agenda-videos {
    width: 100%;
    height: auto;
    background-color: $branco;
    border-top: 1px solid $preto;
    padding: 70px 0 10px 0;

    +below($tablet) {
        padding: 60px 0 10px 0;
    }

    .titulo-videos {
        raleway(24, light);
        color: $preto;
        text-align: center;
        margin: 0 0 50px 0;

        +below($tablet) {
            font-size: 20px;
            margin: 0 0 40px 0;
        }

        +mobile() {
            padding: 0 5%;
            font-size: 18px;
            text-align: center;
        }
    }

    article.video {
        margin-bottom: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;

        +below($tablet) {
            margin-bottom: 80px;
        }

        +mobile() {
            margin-bottom: 60px;
        }

        iframe {
            width: 720px;
            height: 400px;

            +below($tablet) {
                width: 650px;
                height: 370px;
            }

            +mobile() {
                width: 350px;
                height: 190px;
            }
        }

        .titulo-video {
            raleway(16);
            color: $preto;
            margin: 20px 0 0 0;

            +below($tablet) {
                font-size: 14px;
                margin: 15px 0 0 0;
            }

            +mobile() {
                font-size: 12px;
                margin: 10px 0 0 0;
            }
        }
    }
}

section.joias-destaques-agenda {
    padding: 80px 0;
    height: auto;
    background-color: #FFF;

    +below($tablet) {
        padding: 60px 0;
    }

    .center {
        .titulo {
            raleway(20, light);
            color: $preto;
            text-align: center;
            margin: 0;

            +mobile() {
                font-size: 18px;
            }
        }

        .linha-titulo {
            width: 60px;
            border: none;
            border-bottom: 1px solid $preto;
            margin: 5px 0 0 calc('(100% - 60px) / 2');
        }

        #joiasDestaquesAgenda {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 40px;

            .joia {
                width: 250px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 80px;

                +below($tablet) {
                    width: 23%;
                    margin-bottom: 60px;
                }

                +mobile() {
                    width: 47%;
                    margin-bottom: 40px;
                }

                .link-joia {
                    width: 100%;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    +below($tablet) {
                        height: auto;
                    }

                    .img-joia {
                        width: auto;
                        height: 250px;
                        object-fit: contain;
                        border-radius: 10px;
                        margin-bottom: 40px;
                        transition: 0.2s ease-in-out;

                        +below($tablet) {
                            margin-bottom: 30px;
                        }

                        +mobile() {
                            height: 200px;
                            margin-bottom: 20px;
                        }
                    }

                    .nome-joia, .joalheiro, .preco-joia {
                        raleway(12);
                        color: $preto;
                        text-align: center;
                        line-height: 1;
                        margin: 0 0 5px 0;
                        transition: 0.2s ease-in-out;

                        +below($tablet) {
                            max-width: 80%;
                        }

                        +mobile() {
                            max-width: 90%;
                            font-size: 11px;
                        }
                    }

                    .nome-joia, .joalheiro {
                        text-transform: uppercase;
                    }

                    &:hover {
                        .img-joia {
                            opacity: 0.8;
                        }

                        .joalheiro {
                            font-weight: 600;
                        }
                    }
                }

                .acoes {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .favoritar, .compartilhar {
                        width: 30px;
                        height: 30px;
                        border: 1px solid $branco;
                        border-radius: 5px;
                        background-color: transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        outline: none;
                        cursor: pointer;
                        margin: 0 2px;
                        transition: all 0.3s ease-in-out;

                        > img {
                            width: 15px;
                            height: auto;
                            object-fit: contain;

                            +mobile() {
                                width: 13px;
                            }
                        }

                        &:hover {
                            border: 1px solid $cinza;
                            background-color: $cinza;
                        }
                    }
                }
            }
        }

        .link-ver-mais {
            position: relative;
            width: 140px;
            height: 25px;
            margin: -10px auto 0 auto;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            raleway(12);
            color: $preto;
            border: 1px solid $cinza;
            border-radius: 7px;
            background-color: $branco;
            transition: all 0.3s ease-in-out;

            +mobile() {
                width: 100px;
                height: 20px;
                font-size: 11px;
                border-radius: 5px;
            }

            &:hover {
                background-color: $cinza;
                color: $branco;
            }
        }
    }
}
