.pag-assine-livro {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 0 80px 0;
    background-color: $bg;

    +below($tablet) {
        padding: 20px 0 60px 0;
    }

    .center {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        +mobile() {
            flex-direction: column;
            align-items: center;
        }

        .left {
            width: calc('100% - 750px');

            +below($tablet) {
                width: 40%;
            }

            +mobile() {
                width: 100%;
            }

            .titulo {
                raleway(24, light);
                color: $preto;
                margin: 0;

                +below($tablet) {
                    font-size: 20px;
                }

                +mobile() {
                    font-size: 18px;
                }
            }

            .mensagem {
                raleway(12);
                color: $preto;
                margin: 15px 0 50px 0;

                +below($tablet) {
                    margin: 10px 0 30px 0;
                }

                +mobile() {
                    font-size: 11px;
                    margin: 10px 0;
                }
            }

            .aviso {
                raleway(12);
                color: $preto;
                margin: 0;

                +below($tablet) {
                    max-width: 100%;
                }

                +mobile() {
                    font-size: 11px;
                    margin: 0 0 10px 0;
                }
            }
        }

        form {
            width: 750px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 0;

            +below($tablet) {
                width: 60%;
            }

            +mobile() {
                width: 100%;
            }

            textarea {
                width: 100%;
                height: 250px;
                border: 1px solid $cinza;
                border-radius: 10px;
                padding: 20px;
                resize: none;
                outline: none;
                raleway(16);
                color: $preto;
                transition: all 0.1s ease-in;

                +below($tablet) {
                    height: 180px;
                    padding: 15px;
                    font-size: 14px;
                }

                +mobile() {
                    height: 150px;
                    font-size: 12px;
                }

                +placeholder() {
                    raleway(16);
                    color: $preto;
                    background-color: $branco;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }
            }

            #btnAssinarLivro {
                width: auto;
                height: auto;
                border: none;
                raleway(20);
                color: $preto;
                background-color: transparent;
                margin: 25px 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                outline: none;
                cursor: pointer;
                transition: all 0.1s ease-in;

                +below($tablet) {
                    font-size: 18px;
                    margin: 20px 0;
                }

                +mobile() {
                    font-size: 16px;
                    margin: 10px 0;
                }

                img {
                    margin-right: 10px;
                    transition: transform 0.1s ease-in;

                    +mobile() {
                        width: 22px;
                        height: auto;
                    }
                }

                &:hover {
                    font-weight: 600;

                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    hr.linha-assinaturas {
        width: 100%;
        margin: 30px 0 40px 0;
        border: none;
        border-bottom: 1px solid $preto;

        +below($tablet) {
            margin: 30px 0;
        }
    }

    .assinaturas {
        position: relative;
        height: auto;
        padding: 30px 0 50px 0;

        +below($tablet) {
            padding: 20px 0 30px 0;
        }

        .assinatura.grid-item {
            width: 31%;
            height: auto;
            position: relative;
            margin: 0 1% 50px 1%;
            padding: 0 40px 0 0;

            +below($tablet) {
                margin-bottom: 30px;
                padding-right: 20px;
            }

            +mobile() {
                width: 48%;
            }

            .mensagem {
                raleway(14);
                color: $preto;

                +below($tablet) {
                    font-size: 12px;
                }
            }

            .nome {
                raleway(11, bold);
                color: $preto;
                text-transform: uppercase;
                margin: 20px 0 0 0;

                +below($tablet) {
                    margin-top: 10px;
                    font-size: 10px;
                }
            }

            .data-assinatura {
                raleway(11, bold);
                color: $preto;
                margin: 0;

                +below($tablet) {
                    font-size: 10px;
                }
            }
        }
    }

    .btn-assinaturas-mais {
        width: 140px;
        height: 25px;
        margin: 0 auto;
        display: block;
        border: 1px solid $cinza;
        border-radius: 5px;
        raleway(12);
        color: $cinza;
        background-color: transparent;
        outline: none;
        transition: all 0.3s ease-in;

        +mobile() {
            width: 100px;
            height: 20px;
            font-size: 11px;
        }

        &:hover {
            background-color: $cinza;
            color: $preto;
        }
    }
}
