main.escolas-e-grupos {
    padding: 20px 0 0 0;
    z-index: 1;

    .grupos-titulo {
        raleway(24, light);
        color: $preto;
        text-align: center;
        margin: 0 0 25px 0;

        +below($tablet) {
            font-size: 20px;
        }

        +mobile() {
            font-size: 18px;
        }
    }

    .center {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 40px;
        margin-top: 25px;

        +below($tablet) {
            padding-bottom: 30px;
        }

        +mobile() {
            justify-content: space-between;
        }

        .link-grupo {
            width: calc('(100% - 90px) / 4');
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px 30px 20px 0;

            +below($tablet) {
                width: calc('(100% - 60px) / 4');
                margin: 15px 20px 15px 0;
            }

            +mobile() {
                width: calc('(100% - 20px) / 2');
                margin: 0 0 30px 0;
            }

            .img-grupo {
                width: 280px;
                height: 280px;
                object-fit: cover;
                margin-bottom: 20px;
                border-radius: 10px;
                transition: 0.2s ease-in-out;

                +below($tablet) {
                    width: 100%;
                    height: auto;
                    margin-bottom: 15px;
                }
            }

            .nome, .pais {
                raleway(12);
                color: $preto;
                line-height: 1;
                text-align: center;
                text-transform: uppercase;
                margin: 0 0 5px 0;
                transition: 0.2s ease-in-out;

                +mobile() {
                    font-size: 11px;
                }
            }

            &:hover {
                .img-grupo {
                    opacity: 0.8;
                }

                .nome {
                    font-weight: 600;
                }
            }
        }
    }
}