main.escolas-e-grupos-show {
    padding: 20px 0 0 0;
    z-index: 1;

    .nome {
        margin: 0 0 25px 0;
        raleway(24, light);
        color: $preto;
        text-align: center;
        text-transform: uppercase;

        +below($tablet) {
            font-size: 20px;
            margin: 0 0 20px 0;
        }

        +mobile() {
            font-size: 18px;
        }
    }

    .img-capa {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 20px;

        +below($tablet) {
            height: 400px;
        }

        +mobile() {
            height: 200px;
        }
    }

    .dados {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 50px 0;

        +below($tablet) {
            padding: 30px 0;
        }

        +mobile() {
            flex-direction: column;
            align-items: center;
        }

        .left {
            width: 50%;

            +mobile() {
                width: 100%;
            }

            .whatsapp {
                width: 330px;
                height: 30px;
                background-color: $preto;
                raleway(14);
                color: $branco;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background 0.3s ease-in-out;

                +below($tablet) {
                    width: auto;
                    max-width: 65%;
                    height: 25px;
                    font-size: 12px;
                    padding: 0 15px;
                }

                +mobile() {
                    max-width: 85%;
                    margin: 0 auto;
                }

                > img {
                    width: 12px;
                    height: auto;
                    object-fit: contain;
                    margin-right: 10px;
                }

                &:hover {
                    background-color: $cinza;
                }
            }

            .nome-grupo {
                raleway(18, bold);
                color: $preto;
                text-transform: uppercase;
                margin: 50px 0 10px 0;

                +below($tablet) {
                    font-size: 16px;
                    margin: 30px 0 10px 0;
                }

                +mobile() {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 5px;
                }
            }

            .pais {
                raleway(14);
                color: $preto;
                text-transform: uppercase;
                margin: 0;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .right {
            width: 50%;
            raleway(16);
            color: $preto;

            +below($tablet) {
                font-size: 14px;
            }

            +mobile() {
                width: 100%;
                font-size: 12px;
                text-align: center;
                margin-top: 20px;
            }

            > p {
                margin: 0 0 20px 0;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }
            }
        }
    }

    .bg-cinza {
        width: 100%;
        height: auto;
        background-color: $bg;
        padding: 25px 0;

        .imagens {
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            +mobile() {
                justify-content: space-between;
            }

            .fancybox {
                width: calc('(100% - 40px) / 3');
                height: 390px;
                margin: 0 20px 20px 0;

                +below($tablet) {
                    height: auto;
                }

                +mobile() {
                    width: calc('(100% - 10px) / 2');
                    margin: 0 0 10px 0;
                }

                .img-grupo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }

        iframe {
            width: 760px;
            height: 430px;
            margin: 80px auto 0 calc('(100% - 760px) / 2');

            +below($tablet) {
                margin-top: 40px;
            }

            +mobile() {
                width: 90%;
                margin: 40px 5% 0 5%;
                height: 200px;
            }
        }

        .contatos {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0 60px 0;

            +below($tablet) {
                margin: 40px 0 30px 0;
            }

            +mobile() {
                flex-direction: column;
                margin: 30px 0;
            }

            .whatsapp, .instagram, .email, .website {
                width: auto;
                height: 30px;
                background-color: transparent;
                raleway(14);
                color: $preto;
                border: 1px solid $preto;
                border-radius: 5px;
                padding: 0 25px;
                margin: 0 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease-in-out;

                +below($tablet) {
                    height: 25px;
                    font-size: 12px;
                    padding: 0 15px;
                }

                +mobile() {
                    margin: 5px 0;
                }

                > img {
                    width: auto;
                    height: auto;
                    object-fit: contain;
                    margin-right: 5px;

                    +below($tablet) {
                        max-height: 14px;
                    }
                }

                &:hover {
                    border: 1px solid $cinza;
                    background-color: $cinza;
                }
            }
        }
    }

    section.escolas-destaques {
        width: 100%;
        border-top: 1px solid $preto;
        padding: 60px 0 80px 0;
        height: auto;
        background-color: $bg;

        +below($tablet) {
            padding: 60px 0;
        }

        .center {
            .titulo {
                raleway(20, light);
                color: $preto;
                text-align: center;
                margin: 0;

                +mobile() {
                    font-size: 18px;
                }
            }

            .linha-titulo {
                width: 60px;
                border: none;
                border-bottom: 1px solid $preto;
                margin: 5px 0 0 calc('(100% - 60px) / 2');
            }

            #escolasDestaquesInternas {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 30px 0 40px 0;

                +mobile() {
                    margin: 30px 0;
                }

                .link-escola {
                    width: 280px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    +below($tablet) {
                        width: 23%;
                    }

                    +mobile() {
                        width: 48%;
                        margin-bottom: 20px;
                    }

                    .img-escola {
                        width: 280px;
                        height: 280px;
                        object-fit: cover;
                        margin-bottom: 20px;
                        border-radius: 10px;
                        transition: 0.2s ease-in-out;

                        +below($tablet) {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .nome-escola, .pais {
                        raleway(12);
                        color: $preto;
                        line-height: 1;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0 0 5px 0;
                        transition: 0.2s ease-in-out;

                        +mobile() {
                            font-size: 11px;
                        }
                    }

                    &:hover {
                        .img-escola {
                            opacity: 0.8;
                        }

                        .nome-escola {
                            font-weight: 600;
                        }
                    }
                }
            }

            .link-ver-mais {
                position: relative;
                width: 140px;
                height: 25px;
                margin: -10px auto 0 auto;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                raleway(12);
                color: $preto;
                border: 1px solid $cinza;
                border-radius: 7px;
                background-color: $branco;
                transition: all 0.3s ease-in-out;

                +mobile() {
                    width: 100px;
                    height: 20px;
                    font-size: 11px;
                    border-radius: 5px;
                }

                &:hover {
                    background-color: $cinza;
                    color: $branco;
                }
            }
        }
    }
}