.pag-favoritas {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        raleway(24, light);
        color: $preto;
        text-align: center;
        margin: 10px 0;

        +below($tablet) {
            font-size: 20px;
        }

        +mobile() {
            font-size: 18px;
        }
    }

    .user-nome {
        raleway(16);
        color: $cinza;
        text-transform: uppercase;
        text-align: center;
        margin: 0;

        +below($tablet) {
            font-size: 14px;
        }

        +mobile() {
            font-size: 12px;
        }
    }

    .loading {
        display: block;
        text-align: center;

        img {
            +mobile() {
                width: 50% !important;
            }
        }
    }

    .joias-favoritas {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 80px 0 40px 0;
        visibility: hidden;
        max-height: 0;

        +below($tablet) {
            padding: 60px 0 40px;
        }

        +mobile() {
            padding: 40px 0;
        }

        .nenhuma {
            raleway(18);
            color: $preto;
            margin: 30px 0;

            +below($tablet) {
                font-size: 16px;
            }

            +mobile() {
                font-size: 14px;
                margin: 20px 0;
            }
        }

        .joia {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            +mobile() {
                width: 48%;
            }

            .imgs-joias {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 350px;

                +below($tablet) {
                    max-width: 250px;
                    max-height: 250px;
                }

                +mobile() {
                    max-width: 180px;
                    max-height: 180px;
                }

                .img-joia {
                    max-height: 350px;
                    width: auto;
                    object-fit: contain;

                    +below($tablet) {
                        max-height: 250px;
                    }

                    +mobile() {
                        max-height: 180px;
                    }
                }
            }

            .nome-joia {
                raleway(12);
                color: $preto;
                text-transform: uppercase;
                margin: 20px 0 0 0;

                +below($tablet) {
                    margin: 10px 0 0 0;
                }

                +mobile() {
                    font-size: 11px;
                }
            }

            .joalheiro, .valor {
                raleway(12);
                color: $preto;
                margin: 0;

                +mobile() {
                    font-size: 11px;
                }
            }

            .acoes {
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                a, button {
                    raleway(12);
                    color: $preto;
                    width: 165px;
                    height: 20px;
                    border: 1px solid $cinza;
                    border-radius: 5px;
                    background-color: $branco;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin: 3px 0;
                    outline: none;
                    transition: all 0.3s ease;

                    +mobile() {
                        font-size: 10px;
                        width: 100%;
                    }

                    img {
                        margin-right: 10px;

                        +mobile() {
                            margin-right: 5px;
                        }
                    }

                    &:hover {
                        background-color: $cinza;
                    }
                }
            }
        }
    }

    .hr-atualizar-cadastro {
        border: none;
        border-bottom: 1px solid $preto;
        margin: 0;
    }

    .atualizar-cadastro {
        .titulo {
            raleway(24, light);
            color: $preto;
            margin: 70px 0 40px 0;
            text-align: center;

            +below($tablet) {
                font-size: 20px;
                margin: 40px 0;
            }

            +mobile() {
                font-size: 18px;
                margin: 30px 0;
            }
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

            div.grupo {
                width: 620px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;

                +below($tablet) {
                    width: 60%;
                }

                +mobile() {
                    flex-direction: column;
                    width: 100%;
                }

                label {
                    width: 120px;
                    raleway(12);
                    color: $preto;
                    text-align: end;
                    margin: 0;
                    padding-right: 20px;

                    +below($tablet) {
                        width: 20%;
                        padding-right: 10px;
                    }

                    +mobile() {
                        font-size: 10px;
                        width: 100%;
                        text-align: center;
                        padding: 0 0 5px 0;
                    }
                }

                input[type=text], input[type=email], input[type=password] {
                    width: 500px;
                    height: 40px;
                    border: 1px solid $cinza;
                    border-radius: 5px;
                    outline: none;
                    padding: 0 15px;
                    raleway(16);
                    color: $preto;

                    +below($tablet) {
                        width: 80%;
                        height: 35px;
                        font-size: 14px;
                    }

                    +mobile() {
                        width: 100%;
                        height: 30px;
                    }

                    +placeholder() {
                        raleway(16);
                        color: $preto;
                        background-color: $branco;

                        +below($tablet) {
                            font-size: 14px;
                        }
                    }
                }
            }

            #btnAtualizar {
                width: 200px;
                height: 30px;
                raleway(14, bold);
                color: $branco;
                background-color: $preto;
                border: none;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
                margin-top: 30px;
                transition: all 0.3s ease;

                +below($tablet) {
                    width: 160px;
                    height: 25px;
                    font-size: 12px;
                    margin-top: 20px;
                }

                &:hover, &:focus {
                    background-color: $cinza;
                }
            }
        }
    }

    .slick-next, .slick-prev {
        display: none !important;
    }
}
