section.filtro {
    width: 100%;
    height: auto;
    background-color: #E9EDED;
    position: relative;
    border-top: 1px solid $preto;
    padding: 50px;
    margin-top: 80px;

    +mobile() {
        padding: 50px 30px;
    }

    .center-filtro {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;

        +mobile() {
            width: 90%;
            justify-content: center;
        }

        .titulo, .form-palavra, select {
            width: 24%;
            height: 40px;
            margin-bottom: 10px;

            +mobile() {
                width: 100%;
                height: 30px;
            }
        }

        .titulo {
            raleway(28, light);
            color: $preto;
            margin: 0 0 10px 0;
            text-align: center;

            +mobile() {
                font-size: 24px;
                margin: 0 0 20px 0;
            }
        }

        .form-palavra {
            position: relative;

            .palavra-chave {
                width: 100%;
                height: 100%;
                border: 1px solid #D6D7D7;
                border-radius: 5px;
                padding: 0 15px;
                outline: none;
                raleway(14);
                color: $preto;
                transition: all 0.1s ease-in-out;

                +mobile() {
                    font-size: 12px;
                }

                +placeholder() {
                    raleway(14);
                    color: $preto;
                    transition: all 0.1s ease-in-out;

                    +mobile() {
                        font-size: 12px;
                    }
                }

                &:hover, &:focus {
                    +placeholder() {
                        font-weight: 600;
                    }
                }
            }

            .btn-busca {
                width: auto;
                height: auto;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                position: absolute;
                right: -30px;
                top: 10px;
                transition: all 0.1s ease-in-out;

                &:hover, &:focus {
                    .btn-busca {
                        transform: scale(1.1);
                    }
                }
            }
        }

        select {
            border: 1px solid #D6D7D7;
            border-radius: 5px;
            padding: 0 15px;
            outline: none;
            raleway(14);
            color: $preto;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: $img('seta-selecao-combobox.svg') no-repeat 95% #fff;
            transition: all 0.1s ease-in-out;

            +mobile() {
                font-size: 12px;
            }

            &:hover, &:focus {
                font-weight: 600;
            }
        }
    }
}