main.home {
    background-color: #FFF;
    z-index: 1;

    section.banners-evento {
        height: auto;

        .banner {
            width: 100%;
            height: 600px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 20px;
            position: relative;

            +below($tablet) {
                height: 400px;
            }

            +mobile() {
                height: 300px;
            }

            .titulo {
                width: 75%;
                raleway(24, medium);
                position: absolute;
                text-align: center;
                line-height: 1.4;
                margin: 0 auto;
                top: 280px;
                left: 12.5%;

                +below($tablet) {
                    width: 80%;
                    left: 10%;
                    top: 230px;
                    font-size: 20px;
                }

                +mobile() {
                    top: 80px;
                    font-size: 14px;
                }
            }

            .link-agenda {
                position: absolute;
                left: 50%;
                bottom: 65px;
                width: auto;
                height: auto;
                margin: 0;
                padding: 6px 25px;
                raleway(14);
                border-radius: 7px;
                background-color: transparent;
                transition: all 0.5s ease-in-out;
                transform: translate(-50%, 0px);

                +below($mobile) {
                    bottom: 35px;
                    min-width: 195px;
                }

                +mobile() {
                    min-width: 100px;
                    height: 20px;
                    bottom: 25px;
                    font-size: 10px;
                    border-radius: 5px;
                    padding: 4px 15px;
                }
            }
        }

        .titulo-banner-evento {
            width: 75%;
            height: auto;
            margin: 0;
            position: absolute;
            left: 12.5%;
            top: 280px;
            raleway(24, medium);
            text-align: center;
            line-height: 1.3;
            z-index: 999;

            +below($tablet) {
                width: 80%;
                left: 10%;
                top: 230px;
                font-size: 20px;
            }

            +mobile() {
                top: 80px;
                font-size: 14px;
            }
        }

        .link-agenda-banner {
            position: absolute;
            left: 50%;
            top: 530px;
            width: auto;
            height: auto;
            margin: 0;
            padding: 6px 25px;
            raleway(14);
            color: $branco;
            border: 1px solid $branco;
            border-radius: 7px;
            background-color: transparent;
            transition: all 0.5s ease-in-out;
            z-index: 999;
            transform: translate(-50%, 0px);

            +below($tablet) {
                top: 420px;
                min-width: 195px;
            }

            +mobile() {
                min-width: 100px;
                height: 20px;
                top: 150px;
                font-size: 10px;
                border-radius: 5px;
                padding: 4px 15px;
            }
        }
    }

    section.nucleo {
        height: auto;
        padding: 40px 0 70px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        +mobile() {
            padding: 30px 0 50px 0;
        }

        .cronometro-evento {
            raleway(18, bold);
            color: $preto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            flex-wrap: wrap;
            margin-bottom: 35px;
            transition: color 0.2s ease-in-out;

            +below($tablet) {
                font-size: 16px;
            }

            +mobile() {
                font-size: 12px;
                margin-bottom: 30px;
            }

            .x-dias, .x-horas, .x-minutos {
                margin: 0 5px;
            }

            &:hover {
                color: $cinza;
            }
        }

        .texto {
            width: 750px;
            height: auto;
            raleway(14);
            color: $preto;
            text-align: center;

            +below($tablet) {
                width: 70%;
            }

            +mobile() {
                width: 100%;
                font-size: 12px;
            }

            > p {
                margin: 0 0 20px 0;
                line-height: 1.5;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }
            }
        }
    }

    section.joias-destaques {
        padding: 0;
        height: 950px;

        +below($tablet) {
            height: auto;
        }

        .titulo {
            raleway(20, light);
            color: $preto;
            text-align: center;
            margin: 0;

            +mobile() {
                font-size: 18px;
            }
        }

        .linha-titulo {
            width: 60px;
            border: none;
            border-bottom: 1px solid $preto;
            margin: 5px 0 0 calc('(100% - 60px) / 2');
        }

        #joiasDestaques {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 40px;

            .joia {
                width: 250px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 80px;

                +below($tablet) {
                    width: 23%;
                    margin-bottom: 60px;
                }

                +mobile() {
                    width: 47%;
                    margin-bottom: 40px;
                }

                .link-joia {
                    width: 100%;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    +below($tablet) {
                        height: auto;
                    }

                    .img-joia {
                        width: auto;
                        height: 250px;
                        object-fit: contain;
                        border-radius: 10px;
                        margin-bottom: 40px;
                        transition: 0.2s ease-in-out;

                        +below($tablet) {
                            margin-bottom: 30px;
                            border-radius: 5px;
                        }

                        +mobile() {
                            height: 200px;
                            margin-bottom: 20px;
                        }
                    }

                    .nome-joia, .joalheiro, .preco-joia {
                        raleway(12);
                        color: $preto;
                        text-align: center;
                        line-height: 1;
                        margin: 0 0 5px 0;
                        transition: 0.2s ease-in-out;

                        +below($tablet) {
                            max-width: 80%;
                        }

                        +mobile() {
                            max-width: 90%;
                            font-size: 11px;
                        }
                    }

                    .nome-joia, .joalheiro {
                        text-transform: uppercase;
                    }

                    &:hover {
                        .img-joia {
                            opacity: 0.8;
                        }

                        .joalheiro {
                            font-weight: 600;
                        }
                    }
                }

                .acoes {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .favoritar, .compartilhar {
                        width: 30px;
                        height: 30px;
                        border: 1px solid $branco;
                        border-radius: 5px;
                        background-color: transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        outline: none;
                        cursor: pointer;
                        margin: 0 2px;
                        transition: all 0.3s ease-in-out;

                        > img {
                            width: 15px;
                            height: auto;
                            object-fit: contain;

                            +mobile() {
                                width: 13px;
                            }
                        }

                        &:hover {
                            border: 1px solid $cinza;
                            background-color: $cinza;
                        }
                    }
                }
            }
        }

        .link-ver-mais {
            position: relative;
            width: 140px;
            height: 25px;
            margin: -10px auto 0 auto;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            raleway(12);
            color: $preto;
            border: 1px solid $cinza;
            border-radius: 7px;
            background-color: $branco;
            transition: all 0.3s ease-in-out;

            +mobile() {
                width: 100px;
                height: 20px;
                font-size: 11px;
                border-radius: 5px;
            }

            &:hover {
                background-color: $cinza;
                color: $branco;
            }
        }
    }

    section.banners-joalheiros {
        height: 460px;
        margin-top: 120px;
        margin-bottom: 80px;

        +below($tablet) {
            height: 400px;
            margin-top: 80px;
            margin-bottom: 60px;
        }

        +mobile() {
            height: 250px;
            margin-top: 60px;
        }

        .banner {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 20px;
            position: relative;

            .titulo {
                raleway(54);
                text-align: center;
                text-transform: uppercase;
                line-height: 1.4;
                margin: 0;
                padding: 12% 20% 0 20%;

                +below($tablet) {
                    font-size: 40px;
                    padding-top: 14%;
                }

                +mobile() {
                    font-size: 28px;
                    padding: 25% 5% 0 5%;
                }
            }

            .link-joalheiros {
                position: absolute;
                left: calc('(100% - 140px) / 2');
                bottom: 50px;
                width: 140px;
                height: 30px;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                raleway(12);
                border-radius: 7px;
                background-color: transparent;
                transition: all 0.5s ease-in-out;

                +mobile() {
                    width: 100px;
                    height: 25px;
                    left: calc('(100% - 100px) / 2');
                    bottom: 20px;
                    font-size: 11px;
                    border-radius: 5px;
                }
            }
        }
    }

    section.joalheiros-destaques {
        padding: 0;
        min-height: 450px;

        +below($tablet) {
            min-height: 400px;
        }

        .titulo {
            raleway(20, light);
            color: $preto;
            text-align: center;
            margin: 0;

            +mobile() {
                font-size: 18px;
            }
        }

        .linha-titulo {
            width: 60px;
            border: none;
            border-bottom: 1px solid $preto;
            margin: 5px 0 0 calc('(100% - 60px) / 2');
        }

        #joalheirosDestaques {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 30px 0 40px 0;

            +mobile() {
                margin: 30px 0;
            }

            .link-joalheiro {
                width: 280px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                +below($tablet) {
                    width: 23%;
                }

                +mobile() {
                    width: 48%;
                    margin-bottom: 20px;
                }

                .img-joalheiro {
                    width: 280px;
                    height: 280px;
                    object-fit: cover;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    transition: 0.2s ease-in-out;

                    +below($tablet) {
                        width: 100%;
                        height: auto;
                    }
                }

                .nome-joalheiro, .pais {
                    raleway(12);
                    color: $preto;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0 0 5px 0;
                    transition: 0.2s ease-in-out;

                    +mobile() {
                        font-size: 11px;
                    }
                }

                &:hover {
                    .img-joalheiro {
                        opacity: 0.8;
                    }

                    .nome-joalheiro {
                        font-weight: 600;
                    }
                }
            }
        }

        .link-ver-mais {
            position: relative;
            width: 140px;
            height: 25px;
            margin: -10px auto 0 auto;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            raleway(12);
            color: $preto;
            border: 1px solid $cinza;
            border-radius: 7px;
            background-color: $branco;
            transition: all 0.3s ease-in-out;

            +mobile() {
                width: 100px;
                height: 20px;
                font-size: 11px;
                border-radius: 5px;
            }

            &:hover {
                background-color: $cinza;
                color: $branco;
            }
        }
    }

    section.banners-revista {
        height: 500px;
        margin-top: 80px;
        margin-bottom: 80px;

        +below($tablet) {
            height: 400px;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        +mobile() {
            height: 300px;
        }

        .banner {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;

            .titulo-revista {
                raleway(14);
                text-align: center;
                letter-spacing: 8px;
                margin: 0;
                padding: 50px 0 5px 0;

                +mobile() {
                    font-size: 13px;
                    padding-top: 30px;
                }
            }

            .linha-titulo {
                width: 60px;
                margin: 0 auto;
                border: none;
            }

            .titulo {
                raleway(42);
                text-align: center;
                text-transform: uppercase;
                line-height: 1.4;
                margin: 0;
                padding: 15% 25% 0 25%;

                +below($tablet) {
                    font-size: 34px;
                    padding: 14% 20% 0 20%;
                }

                +mobile() {
                    font-size: 28px;
                    padding: 25% 5% 0 5%;
                }
            }

            .link-revista {
                position: absolute;
                left: calc('(100% - 140px) / 2');
                bottom: 40px;
                width: 140px;
                height: 30px;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                raleway(12);
                border-radius: 7px;
                background-color: transparent;
                transition: all 0.5s ease-in-out;

                +mobile() {
                    width: 100px;
                    height: 25px;
                    left: calc('(100% - 100px) / 2');
                    bottom: 20px;
                    font-size: 11px;
                    border-radius: 5px;
                }
            }
        }
    }

    section.escolas-destaques, section.grupos-destaques, section.ateliers-destaques {
        padding: 0;
        min-height: 470px;
        margin-bottom: 80px;

        +below($tablet) {
            min-height: 400px;
            margin-bottom: 60px;
        }

        .titulo {
            raleway(20, light);
            color: $preto;
            text-align: center;
            margin: 0;

            +mobile() {
                font-size: 18px;
            }
        }

        .linha-titulo {
            width: 60px;
            border: none;
            border-bottom: 1px solid $preto;
            margin: 5px 0 0 calc('(100% - 60px) / 2');
        }

        #escolasDestaques, #gruposDestaques, #ateliersDestaques {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 30px 0 40px 0;

            +mobile() {
                margin: 30px 0;
            }

            .link-escola, .link-grupo, .link-atelier {
                width: 280px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                +below($tablet) {
                    width: 23%;
                }

                +mobile() {
                    width: 48%;
                    margin-bottom: 20px;
                }

                .img-escola, .img-grupo, .img-atelier {
                    width: 100%;
                    height: 280px;
                    object-fit: cover;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    transition: 0.2s ease-in-out;

                    +below($tablet) {
                        height: auto;
                    }
                }

                .nome-escola, .pais, .nome-grupo, .nome-atelier {
                    raleway(12);
                    color: $preto;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0 0 5px 0;
                    transition: 0.2s ease-in-out;

                    +mobile() {
                        font-size: 11px;
                    }
                }

                &:hover {
                    .img-escola, .img-grupo, .img-atelier {
                        opacity: 0.8;
                    }

                    .nome-escola, .nome-grupo, .nome-atelier {
                        font-weight: 600;
                    }
                }
            }
        }

        .link-ver-mais {
            position: relative;
            width: 140px;
            height: 25px;
            margin: -10px auto 0 auto;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            raleway(12);
            color: $preto;
            border: 1px solid $cinza;
            border-radius: 7px;
            background-color: $branco;
            transition: all 0.3s ease-in-out;

            +mobile() {
                width: 100px;
                height: 20px;
                font-size: 11px;
                border-radius: 5px;
            }

            &:hover {
                background-color: $cinza;
                color: $branco;
            }
        }
    }

    section.sobre {
        width: 100%;
        height: auto;
        background-color: #666666;
        margin: 0;
        padding: 60px 0 40px 0;

        +below($tablet) {
            padding: 40px 0;
        }

        .center {
            .img-logo {
                width: 400px;
                height: auto;
                object-fit: contain;
                filter: invert(1);
                margin-left: calc('(100% - 400px) / 2');

                +below($tablet) {
                    width: 300px;
                    margin-left: calc('(100% - 300px) / 2');
                }

                +mobile() {
                    width: 250px;
                    margin-left: calc('(100% - 250px) / 2');
                }
            }

            .periodo {
                raleway(24);
                color: $branco;
                text-align: center;
                margin: 0 0 35px 0;

                +below($tablet) {
                    font-size: 20px;
                    margin: 0 0 30px 0;
                }

                +mobile() {
                    font-size: 18px;
                }
            }

            .texto {
                max-width: 750px;
                raleway(14);
                color: $branco;
                text-align: center;
                margin: 0 auto;

                +below($tablet) {
                    width: 70%;
                }

                +mobile() {
                    width: 100%;
                    font-size: 12px;
                }

                > p {
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }
                }
            }

            .duracao {
                max-width: 875px;
                raleway(22);
                color: $branco;
                text-align: center;
                margin: 50px auto;

                +below($tablet) {
                    max-width: 80%;
                    margin: 40px auto;
                    font-size: 18px;
                }

                +mobile() {
                    font-size: 16px;
                    max-width: 100%;
                }

                > p {
                    margin: 0;
                }
            }

            .links-evento {
                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 75px;
                margin-bottom: 0;

                +below($tablet) {
                    height: 50px;
                    margin-top: 50px;
                }

                +mobile() {
                    flex-direction: column;
                    align-items: center;
                    margin-top: 40px;
                    height: auto;
                    padding: 0;
                }

                .btn-ebook {
                    height: 100%;
                    raleway(18);
                    color: $branco;
                    padding-right: 40px;
                    border-right: 1px solid $branco;
                    display: flex;
                    align-items: center;
                    transition: 0.2s ease-in-out;

                    +below($tablet) {
                        font-size: 16px;
                        padding-right: 20px;
                    }

                    +mobile() {
                        width: 100%;
                        justify-content: center;
                        border-right: none;
                        font-size: 14px;
                        padding-right: 0;
                        padding-bottom: 15px;
                        border-bottom: 1px solid $branco;
                    }

                    .img-ebook {
                        width: auto;
                        height: 24px;
                        margin-left: 15px;
                        object-fit: contain;
                        transition: transform 0.2s ease-in-out;

                        +below($tablet) {
                            height: 22px;
                            margin-left: 10px;
                        }

                        +mobile() {
                            height: 18px;
                        }
                    }

                    &:hover {
                        font-weight: 600;

                        .img-ebook {
                            transform: rotate(360deg) scale(1.1);
                        }
                    }
                }

                .btn-livro {
                    height: 100%;
                    raleway(18);
                    color: $branco;
                    padding-left: 40px;
                    display: flex;
                    align-items: center;
                    transition: 0.2s ease-in-out;

                    +below($tablet) {
                        font-size: 16px;
                        padding-left: 20px;
                    }

                    +mobile() {
                        width: 100%;
                        font-size: 14px;
                        padding-left: 0;
                        padding-top: 15px;
                        justify-content: center;
                    }

                    .img-assine {
                        width: auto;
                        height: 24px;
                        margin-right: 15px;
                        object-fit: contain;
                        transition: 0.2s ease-in-out;

                        +below($tablet) {
                            height: 22px;
                            margin-right: 10px;
                        }

                        +mobile() {
                            height: 18px;
                        }
                    }

                    &:hover {
                        font-weight: 600;

                        .img-assine {
                            transform: rotate(360deg) scale(1.1);
                        }
                    }
                }
            }
        }
    }
}
