main.joalheiros-show {
    overflow: hidden;
    padding: 20px 0 0 0;
    z-index: 1;

    .nome-joalheiro, .pais {
        width: 1200px;
        margin: 0 auto 15px auto;
        raleway(36, light);
        color: $preto;
        text-align: center;
        text-transform: uppercase;

        +below($tablet) {
            width: 90%;
            font-size: 28px;
            margin: 0 auto 10px auto;
        }

        +mobile() {
            font-size: 24px;
        }
    }

    .pais {
        margin: 0 auto;
        raleway(24);
        text-transform: none;

        +below($tablet) {
            font-size: 20px;
        }

        +mobile() {
            font-size: 16px;
        }
    }

    .loading {
        display: block;
        text-align: center;

        img {
            +mobile() {
                width: 50% !important;
            }
        }
    }

    section.joias {
        visibility: hidden;
        max-height: 0;
        padding-top: 50px;

        +below($tablet) {
            padding-top: 30px;
        }

        .joia {
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 100px;

            +below($tablet) {
                margin-bottom: 80px;
            }

            +mobile() {
                width: 80%;
                margin-bottom: 60px;
            }

            .capas-joias {
                max-width: 550px;
                max-height: 550px;
                margin: 0 0 15px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                +below($tablet) {
                    max-width: 350px;
                    max-height: 350px;
                    margin: 0 0 10px 0;
                }

                +mobile() {
                    max-width: 250px;
                    max-height: 250px;
                }

                .capa {
                    width: auto;
                    height: auto;
                    max-width: 550px;
                    max-height: 550px;
                    object-fit: contain;

                    +below($tablet) {
                        max-width: 350px;
                        max-height: 350px;
                    }

                    +mobile() {
                        max-width: 250px;
                        max-height: 250px;
                    }
                }
            }

            .dados {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                +mobile() {
                    flex-direction: column-reverse;
                    position: relative;
                }

                .left {
                    width: 55%;
                    padding: 0 70px 0 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-start;

                    +below($tablet) {
                        padding: 0 40px 0 0;
                    }

                    +mobile() {
                        width: 80%;
                        padding: 0 0 40px 0;
                        align-items: center;
                    }

                    .nome {
                        raleway(16);
                        clor: $preto;
                        text-transform: uppercase;
                        margin: 0;

                        +below($tablet) {
                            font-size: 14px;
                        }
                    }

                    .tipo {
                        raleway(12);
                        color: $preto;
                        margin: 0 0 15px 0;

                        +below($tablet) {
                            font-size: 11px;
                            margin: 0 0 10px 0;
                        }
                    }

                    .descricao {
                        raleway(12);
                        color: $preto;

                        +below($tablet) {
                            font-size: 11px;
                        }

                        > p {
                            margin: 0;
                        }
                    }

                    .linha-divisao {
                        width: 125px;
                        border: none;
                        border-bottom: 1px solid $preto;
                        margin: 15px 0;

                        +below($tablet) {
                            width: 80px;
                            margin: 10px 0;
                        }
                    }

                    .valor {
                        raleway(16);
                        color: $preto;
                        margin: 0;

                        +below($tablet) {
                            font-size: 14px;
                        }
                    }
                }

                .right {
                    width: 45%;

                    +mobile() {
                        width: 80%;
                        margin-bottom: 20px;
                    }

                    .thumbs-joias {
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-bottom: 40px;

                        +below($tablet) {
                            margin-bottom: 20px;
                        }

                        +mobile() {
                            margin-bottom: 0;
                        }

                        .link-variacao {
                            width: 90px;
                            height: 90px;
                            margin: 0 12px 0 0;

                            +below($tablet) {
                                width: calc('(100% - 20px) / 3');
                                height: auto;
                                margin: 0 10px 0 0;
                            }

                            .variacao {
                                width: 100%;
                                height: 100%;
                                border-radius: 5px;
                                object-fit: cover;
                                background-color: $bg;
                            }
                        }
                    }

                    .acoes {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        +mobile() {
                            position: absolute;
                            bottom: 0;
                        }

                        .whatsapp {
                            width: 215px;
                            height: 30px;
                            background-color: $preto;
                            raleway(14);
                            color: $branco;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: background 0.3s ease-in-out;

                            +below($tablet) {
                                width: auto;
                                height: 25px;
                                font-size: 12px;
                                padding: 0 10px;
                            }

                            > img {
                                width: 12px;
                                height: auto;
                                object-fit: contain;
                                margin-right: 5px;
                            }

                            &:hover {
                                background-color: $cinza;
                            }
                        }

                        .favoritar, .compartilhar {
                            width: 30px;
                            height: 30px;
                            border: 1px solid $preto;
                            border-radius: 5px;
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            outline: none;
                            cursor: pointer;
                            margin: 0 0 0 5px;
                            transition: all 0.3s ease-in-out;

                            +below($tablet) {
                                width: 25px;
                                height: 25px;
                            }

                            > img {
                                width: 15px;
                                height: auto;
                                object-fit: contain;

                                +below($tablet) {
                                    width: 12px;
                                }
                            }

                            &:hover {
                                border: 1px solid $cinza;
                                background-color: $cinza;
                            }
                        }
                    }
                }
            }
        }
    }

    section.joalheiro {
        width: 100%;
        height: auto;
        background-color: $bg;
        padding: 60px 0;

        +below($tablet) {
            padding: 40px 0;
        }

        .center {
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;

            .textos {
                width: 50%;
                padding-right: 100px;

                +below($tablet) {
                    padding-right: 40px;
                }

                +mobile() {
                    width: 100%;
                    padding-right: 0;
                }

                .nome {
                    width: 100%;
                    raleway(36, light);
                    color: $preto;
                    text-transform: uppercase;
                    text-align: start;
                    margin: 0 0 10px 0;

                    +below($tablet) {
                        font-size: 28px;
                    }

                    +mobile() {
                        font-size: 24px;
                        text-align: center;
                    }
                }

                .pais {
                    width: 100%;
                    raleway(16);
                    color: $preto;
                    text-transform: uppercase;
                    text-align: start;
                    margin: 0 0 25px 0;

                    +below($tablet) {
                        font-size: 14px;
                        margin: 0 0 20px 0;
                    }

                    +mobile() {
                        font-size: 12px;
                        text-align: center;
                    }
                }

                .texto {
                    raleway(14);
                    color: $preto;

                    +below($tablet) {
                        font-size: 12px;
                    }

                    +mobile() {
                        text-align: center;
                    }

                    > p {
                        margin: 0 0 20px 0;

                        +below($tablet) {
                            margin: 0 0 15px 0;
                        }
                    }
                }
            }

            .capa {
                width: 50%;

                +mobile() {
                    width: 100%;
                }

                .img-capa {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }

            .contatos {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;

                +below($tablet) {
                    margin-top: 30px;
                }

                +mobile() {
                    flex-direction: column;
                }

                .whatsapp, .instagram, .email, .website {
                    width: auto;
                    height: 30px;
                    background-color: transparent;
                    raleway(14);
                    color: $preto;
                    border: 1px solid $preto;
                    border-radius: 5px;
                    padding: 0 25px;
                    margin: 0 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease-in-out;

                    +below($tablet) {
                        height: 25px;
                        font-size: 12px;
                        padding: 0 15px;
                    }

                    +mobile() {
                        margin: 5px 0;
                    }

                    > img {
                        width: auto;
                        height: auto;
                        object-fit: contain;
                        margin-right: 5px;

                        +below($tablet) {
                            max-height: 14px;
                        }
                    }

                    &:hover {
                        border: 1px solid $cinza;
                        background-color: $cinza;
                    }
                }
            }
        }
    }

    section.processo, section.serie {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding-top: 80px;

        +below($tablet) {
            padding-top: 60px;
        }

        .titulo {
            width: 100%;
            raleway(24, light);
            color: $preto;
            text-align: start;
            margin: 0 0 50px 0;
            position: relative;

            +below($tablet) {
                font-size: 20px;
                margin: 0 0 30px 0;
            }

            +mobile() {
                font-size: 18px;
            }
        }

        .linha-titulo {
            position: absolute;
            left: 0;
            top: 120px;
            width: 60px;
            border: none;
            border-bottom: 1px solid $preto;
            margin: 0;

            +below($tablet) {
                top: 90px;
            }
        }

        iframe {
            width: 720px;
            height: 400px;
            margin-right: 12px;

            +below($tablet) {
                width: 58%;
                height: 300px;
                margin-right: 10px;
            }

            +mobile() {
                width: 100%;
                height: 200px;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        .imagens {
            width: calc('100% - 720px - 12px');
            height: 400px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            +below($tablet) {
                width: calc('(100% - 58% - 10px)');
                height: 300px;
            }

            +mobile() {
                width: 100%;
                height: 260px;
            }

            .fancybox {
                width: calc('(100% - 10px) / 2');
                height: 195px;
                margin-bottom: 10px;

                +below($tablet) {
                    height: 145px;
                }

                +mobile() {
                    height: 120px;
                }

                .img-processo, .img-serie {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            &.sem-video {
                width: 100%;
                height: auto;

                .fancybox {
                    width: calc('(100% - 20px) / 4');

                    +mobile() {
                        width: calc('(100% - 10px) / 2');
                    }
                }
            }
        }
    }

    section.joalheiros-destaques {
        padding: 80px 0;
        height: auto;

        +below($tablet) {
            padding: 60px 0;
        }

        .titulo {
            raleway(20, light);
            color: $preto;
            text-align: center;
            margin: 0;

            +mobile() {
                font-size: 18px;
            }
        }

        .linha-titulo {
            width: 60px;
            border: none;
            border-bottom: 1px solid $preto;
            margin: 5px 0 0 calc('(100% - 60px) / 2');
        }

        #joalheirosDestaquesInternas {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 30px 0 40px 0;

            +mobile() {
                margin: 30px 0;
            }

            .link-joalheiro {
                width: 280px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                +below($tablet) {
                    width: 23%;
                }

                +mobile() {
                    width: 48%;
                    margin-bottom: 20px;
                }

                .img-joalheiro {
                    width: 280px;
                    height: 280px;
                    object-fit: cover;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    transition: 0.2s ease-in-out;

                    +below($tablet) {
                        width: 100%;
                        height: auto;
                    }
                }

                .nome-joalheiro, .pais {
                    raleway(12);
                    color: $preto;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0 0 5px 0;
                    transition: 0.2s ease-in-out;

                    +mobile() {
                        font-size: 11px;
                    }
                }

                &:hover {
                    .img-joalheiro {
                        opacity: 0.8;
                    }

                    .nome-joalheiro {
                        font-weight: 600;
                    }
                }
            }
        }

        .link-ver-mais {
            position: relative;
            width: 140px;
            height: 25px;
            margin: -10px auto 0 auto;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            raleway(12);
            color: $preto;
            border: 1px solid $cinza;
            border-radius: 7px;
            background-color: $branco;
            transition: all 0.3s ease-in-out;

            +mobile() {
                width: 100px;
                height: 20px;
                font-size: 11px;
                border-radius: 5px;
            }

            &:hover {
                background-color: $cinza;
                color: $branco;
            }
        }
    }
}

.slick-slider {
    .slick-dots li {
        margin: 0;
    }

    .slick-dots li button:before {
        font-size: 18px;
        content: '○';
    }

    .slick-next {
        right: -40px;
        top: 48%;
        width: 8px;
        height: 14px;
        background-image: $img('setinha-direita.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-image: $img('setinha-direita-hover.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .slick-prev {
        left: -40px;
        top: 48%;
        width: 8px;
        height: 14px;
        background-image: $img('setinha-esquerda.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-image: $img('setinha-esquerda-hover.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.fancybox-next {
    right: -60px;

    > span {
        background-image: $img('seta-lightbox-direita.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        visibility: visible;
    }
}

.fancybox-prev {
    left: -60px;

    > span {
        background-image: $img('seta-lightbox-esquerda.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        visibility: visible;
    }
}