main.joalheiros {
    padding: 20px 0 0 0;
    z-index: 1;

    .joalheiros-titulo {
        raleway(24, light);
        color: $preto;
        text-align: center;
        margin: 0 0 25px 0;

        +below($tablet) {
            font-size: 20px;
        }

        +mobile() {
            font-size: 18px;
        }
    }

    .center {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-top: 25px;

        +mobile() {
            justify-content: space-between;
        }

        .link-joalheiro {
            width: calc('(100% - 90px) / 4');
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px 30px 20px 0;

            +below($tablet) {
                width: calc('(100% - 60px) / 4');
                margin: 15px 20px 15px 0;
            }

            +mobile() {
                width: calc('(100% - 20px) / 2');
                margin: 0 0 30px 0;
            }

            .img-joalheiro {
                width: 280px;
                height: 280px;
                object-fit: cover;
                margin-bottom: 20px;
                border-radius: 10px;
                transition: 0.2s ease-in-out;

                +below($tablet) {
                    width: 100%;
                    height: auto;
                    margin-bottom: 15px;
                }
            }

            .nome, .pais {
                raleway(12);
                color: $preto;
                line-height: 1;
                text-align: center;
                text-transform: uppercase;
                margin: 0 0 5px 0;
                transition: 0.2s ease-in-out;

                +mobile() {
                    font-size: 11px;
                }
            }

            &:hover {
                .img-joalheiro {
                    opacity: 0.8;
                }

                .nome {
                    font-weight: 600;
                }
            }
        }
    }

    .link-ver-mais {
        position: relative;
        width: 140px;
        height: 25px;
        margin: 30px auto 50px auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        raleway(12);
        color: $preto;
        border: 1px solid $cinza;
        border-radius: 7px;
        background-color: $branco;
        transition: all 0.3s ease-in-out;

        +mobile() {
            width: 100px;
            height: 20px;
            font-size: 11px;
            border-radius: 5px;
        }

        &:hover {
            background-color: $cinza;
            color: $branco;
        }
    }
}