.links-evento {
    width: 100%;
    height: 140px;
    background-color: #666666;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;

    +below($tablet) {
        height: 100px;
    }

    +mobile() {
        flex-direction: column;
        height: auto;
        padding: 30px 5%;
    }

    .btn-ebook {
        height: 60px;
        raleway(18);
        color: $branco;
        padding-right: 40px;
        border-right: 1px solid #FFF;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;

        +below($tablet) {
            height: 50px;
            font-size: 16px;
        }

        +mobile() {
            height: auto;
            font-size: 14px;
            padding-right: 0;
            padding-bottom: 20px;
            border-right: none;
            border-bottom: 1px solid #FFF;
        }

        .img-ebook {
            width: auto;
            height: 24px;
            margin-left: 15px;
            object-fit: contain;
            transition: transform 0.2s ease-in-out;

            +below($tablet) {
                width: 20px;
            }

            +mobile() {
                width: 18px;
                margin-left: 10px;
            }
        }

        &:hover {
            font-weight: 600;

            .img-ebook {
                transform: rotate(360deg) scale(1.1);
            }
        }
    }

    .btn-livro {
        height: 60px;
        raleway(18);
        color: $branco;
        padding-left: 40px;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;

        +below($tablet) {
            font-size: 16px;
            height: 50px;
        }

        +mobile() {
            height: auto;
            font-size: 14px;
            padding-left: 0;
            padding-top: 20px;
        }

        .img-assine {
            width: auto;
            height: 24px;
            margin-right: 15px;
            object-fit: contain;
            transition: 0.2s ease-in-out;

            +below($tablet) {
                width: 20px;
            }

            +mobile() {
                width: 18px;
                margin-right: 10px;
            }
        }

        &:hover {
            font-weight: 600;

            .img-assine {
                transform: rotate(360deg) scale(1.1);
            }
        }
    }
}