.politica {
    position: relative;
    height: auto;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        raleway(24, light);
        color: $preto;
        text-align: center;
        margin: 10px 0 40px 0;
    }

    .texto {
        raleway(14);
        color: $preto;

        > p {
            margin: 0 0 20px 0;
        }
    }
}
