.resultados-filtro {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        raleway(24, light);
        color: $preto;
        text-align: center;
        margin: 10px 0;
    }

    .itens-pesquisados {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .palavra, .pais, .tipo {
            raleway(14, light);
            color: $preto;
            text-transform: uppercase;
            margin: 0 0 0 5px;

            > span {
                text-transform: lowercase;
            }
        }
    }

    .joias-filtro {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 80px 0 40px 0;

        .nenhuma {
            raleway(18);
            color: $preto;
            margin: 30px 0;
        }

        .joia {
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            .img-joia {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 350px;
                object-fit: contain;
            }

            .nome-joia {
                raleway(12);
                color: $preto;
                text-transform: uppercase;
                margin: 20px 0 0 0;
            }

            .joalheiro, .valor {
                raleway(12);
                color: $preto;
                margin: 0;
            }

            .acoes {
                margin: 10px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .favoritar, .compartilhar {
                    width: 30px;
                    height: 30px;
                    border: 1px solid $branco;
                    border-radius: 5px;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                    cursor: pointer;
                    margin: 0 3px;
                    transition: all 0.3s ease-in-out;

                    > img {
                        width: 15px;
                        height: auto;
                        object-fit: contain;
                    }

                    &:hover {
                        border: 1px solid $cinza;
                        background-color: $cinza;
                    }
                }
            }
        }
    }

    .resultados {
        width: 100%;
        height: auto;

        .titulo-filtro {
            width: 100%;
            raleway(18, medium);
            color: $preto;
            text-align: center;
            margin: 40px 0 20px 0;
        }

        .joalheiros {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            +mobile() {
                justify-content: space-between;
            }

            .link-joalheiro {
                width: calc('(100% - 90px) / 4');
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 20px 30px 20px 0;

                +below($tablet) {
                    width: calc('(100% - 60px) / 4');
                    margin: 15px 20px 15px 0;
                }

                +mobile() {
                    width: calc('(100% - 20px) / 2');
                    margin: 0 0 30px 0;
                }

                .img-joalheiro {
                    width: 280px;
                    height: 280px;
                    object-fit: cover;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    transition: 0.2s ease-in-out;

                    +below($tablet) {
                        width: 100%;
                        height: auto;
                        margin-bottom: 15px;
                    }
                }

                .nome {
                    raleway(12);
                    color: $preto;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0 0 5px 0;
                    transition: 0.2s ease-in-out;

                    +mobile() {
                        font-size: 11px;
                    }
                }

                &:hover {
                    .img-joalheiro {
                        opacity: 0.8;
                    }

                    .nome {
                        font-weight: 600;
                    }
                }
            }
        }

        .grupos {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            +mobile() {
                justify-content: space-between;
            }

            .link-grupo {
                width: calc('(100% - 90px) / 4');
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 20px 30px 20px 0;

                +below($tablet) {
                    width: calc('(100% - 60px) / 4');
                    margin: 15px 20px 15px 0;
                }

                +mobile() {
                    width: calc('(100% - 20px) / 2');
                    margin: 0 0 30px 0;
                }

                .img-grupo {
                    width: 280px;
                    height: 280px;
                    object-fit: cover;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    transition: 0.2s ease-in-out;

                    +below($tablet) {
                        width: 100%;
                        height: auto;
                        margin-bottom: 15px;
                    }
                }

                .nome {
                    raleway(12);
                    color: $preto;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0 0 5px 0;
                    transition: 0.2s ease-in-out;

                    +mobile() {
                        font-size: 11px;
                    }
                }

                &:hover {
                    .img-grupo {
                        opacity: 0.8;
                    }

                    .nome {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
